* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --black: #000;

    --gray-200: #F5F5F7;
    --gray-300: #d4d4d4;
    --gray-500: #828282;
    --gray-800: #1D1D1F;
    
    --blue-500: #0066CC;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

body {
    background: var(--white);
}

body, input, textarea, button {
    font-family: 'Inter', sans-serif;
    color: var(--gray-500);
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.75rem;
}